{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Inscription{% endblock %}

{% block fos_user_action %}Inscription{% endblock %}

{% block fos_user_content %}
<form id="edit-form" method="post" action="{{ path("fos_user_registration_register") }}" >

    <div id="blog-post" class="panel panel-default blog-post">
        <div class="panel-body">

            {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'pseudo'} }) }}
            <span class="label label-danger error">{{ form_errors(form.username) }}</span>
            {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'mail'} }) }}
            <span class="label label-danger error">{{ form_errors(form.email) }}</span>
            {{ form_widget(form.surname, { 'attr': {'class': 'form-control', 'placeholder': 'prenom'} }) }}
            {{ form_widget(form.lastname, { 'attr': {'class': 'form-control', 'placeholder': 'nom'} }) }}
            {{ form_widget(form.age, { 'attr': {'class': 'form-control', 'placeholder': 'age'} }) }}
            {{ form_widget(form.password, { 'attr': {'class': 'form-control', 'placeholder': 'mot de passe'} }) }}
            {{ form_widget(form.plainPassword, { 'attr': {'class': 'form-control', 'placeholder': 'retaper le mot de passe'} }) }}
            <span class="label label-danger error">{{ form_errors(form.plainPassword) }}</span>

            {{ form_row(form._token) }}   
                
        </div>
                
        <br/>
        <span class="label label-danger error">{{ form_errors(form) }}</span>
        <button class="btn btn-primary wide">valider <i class="glyphicon glyphicon-ok"></i></button>
                  
    </div><!--/panel-body-->
</form>
{% endblock fos_user_content %}