{# src/FlorianMasip/BlogBundle/Resources/views/Blog/blog.html.twig #}

{% extends '::base.html.twig' %}

{% block title %} Blog {% endblock %}

{% block content %}
<header id="blog-header" role="banner">
	<div id="blog-header-pic">
		{% if blog.picturePath %}
		<img src="{{ asset('bundles/blog/img/banners/') ~ blog.picturePath }}" width="100%" height="200" alt="Title"/>
		{% endif %}
	</div>
	<div id="blog-header-content">
		<a class="label label-primary inset pull-left">
			{{ blog.theme }}
		</a>
		{% if app.user is defined and app.user == blog.user %}
			<a class="label label-danger pull-right" href="{{ path('blog_delete', {'url_blog': blog.urlAlias}) }}">
				Supprimer blog
				<span class="label label-danger inset">
					<i class="glyphicon glyphicon-remove"></i>
				</span>
			</a>
			<a class="label label-warning pull-right" href="{{ path('blog_edit', {'url_blog': blog.urlAlias }) }}">
				Modifier Blog
				<span class="label label-warning inset">
					<i class="glyphicon glyphicon-edit"></i>
				</span>
			</a>
		{% endif %}
		<br/>
		<h2 id="blog-name">{{ blog.name }}</h2>
	</div>
</header>
<br/>
<div class="blog-description" >
		<strong>description du blog :</strong><br/>
		{{ blog.description }}
</div>
<br/>

<div class="row">
	<div class="col-sm-4">
		{% include 'BlogBundle:Blog:categories.html.twig' %}
	</div>
	<div id="blog-content" class="col-sm-8">
		<br/>
		{% if app.user.id is defined and app.user.id == blog.user.id %}
		<a id="new-post" class="btn btn-success" href="{{ path('blog_new_post', {'url_blog': blog.urlAlias }) }}">
			Nouvel article
			<span class="label label-success inset">
				<i class="glyphicon glyphicon-pencil"></i>
			</span>
		</a>
		{% endif %}

		{# Pagination - top #}
        {% if posts|length > 0 %}
            {% include 'BlogBundle:Blog:pagination.html.twig' %}
    		{% include 'BlogBundle:Blog:posts.html.twig' %}
            {% include 'BlogBundle:Blog:pagination.html.twig' %}
		{% else %}
			<div class="panel panel-default blog-post">
		            aucun article dans cette section
		    </div>
        {% endif %}

	</div>
</div>

{% endblock %}
