{# src/FlorianMasip/BlogBundle/Resources/views/Blog/blog.html.twig #}

{% extends '::base.html.twig' %}

{% block title %} Blog {% endblock %}

{% block content %}
<div id="blog-header">
	<h2 id="blog-name">{{ blog.name }}</h2>
</div>

<div id="blog-content">

	{% if app.user.id == blog.user.id %}
	<a id="new-post" class="btn btn-success" href="{{ path('blog_new_post', {'url_blog': blog.urlAlias }) }}">Nouvel article <i class="glyphicon glyphicon-pencil"></i></a><br/>
	{% endif %}

	{% for p in blog.posts %}
		{% if p == blog.posts.first %}
		<div id="last-blog-post" class="panel panel-default blog-post">
		{% else %}
		<div class="panel panel-default blog-post">
		{% endif %}
		
			<div class="panel-heading">
			  	<span class="label label-primary pull-left blog-post-type" > {{ p.nomCategory }} </span> 
			  	<h5 class="blog-post-title"> {{ p.name }} </h5>
			  	<span class="pull-right"> {{ p.dateCreation|date("m/d/Y") }} </span>
			  	<br/>
			</div>
			<div class="panel-body">
			    <a class="btn btn-primary go-to-post" href="{{ path('blog_view_post', {'url_blog': blog.urlAlias, 'url_post': p.urlAlias }) }}">voir l'article <i class="glyphicon glyphicon-plus"></i></a>
			    {{ p.content }}             
			</div>
		</div>
		
	{% endfor %}
	

	
	
</div>

{% endblock %}
