{% for c in comments %}
<div class="panel panel-default comment">
    <div class="panel-body">

            <div class="col-sm-2 user-pic-container">
                <span class="label label-primary user_name_label" >
                    {{ app.user.username }}
                </span>
                {% image '@BlogBundle/Resources/public/img/user.png' %}
                    <img class="user-pic" src="{{ asset_url }}" alt="" />
                {% endimage %}

            </div>
            <div class="col-sm-10 comment-content">
                <div class="date-view wide">
                    <span class="white">le</span> {{ c.dateCreation|date("d/m/Y") }}
                    <span class="white">à</span> {{ c.dateCreation|date("H:i:s") }}
                </div>
                <p>
                    {{ c.content }}
                </p>
            </div>

    </div>
</div>
{% endfor %}
