{# src/FlorianMasip/BlogBundle/Resources/views/Blog/register.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}
	{% if url_blog is defined %}
        Modifier blog
    {% else %}
        Inscription
    {% endif %}
{% endblock %}

{% block content %}

<div id="blog-content">

{% if url_blog is defined %}
    <h4 class="page-title">Modifier blog : {{ url_blog }}</h4>
    <form id="edit-form" method="post" target="{{ path('blog_edit', {'url_blog': url_blog }) }}" >
{% else %}
    <h4 class="page-title">Création d'un blog</h4>
    <form id="edit-form" method="post" target="{{ path('blog_new') }}" >
{% endif %}
		<div id="blog-post" class="panel panel-default blog-post">
			<div class="panel-body">
				{% for c in form %}
					{% if c != form._token %}
					<div class="row">
						<div class="col-sm-2">
							{{ form_label(c) }}
						</div>
						<div class="col-sm-10">
							{{ form_widget(c, { 'attr': {'class': 'form-control', 'placeholder': '...'} }) }}
							<span class="label label-danger error">{{ form_errors(c) }}</span>
						</div>
					</div>
					{% else %}
						{{ form_row(c) }}
					{% endif %}
				{% endfor %}
			</div>
			<br/>
			<span class="label label-danger error">{{ form_errors(form) }}</span>
			<button class="btn btn-primary btn-block">valider <i class="glyphicon glyphicon-ok"></i></button>
		</div>
	</form>

</div>
{% endblock %}
