{% for p in posts %}

    <article class="panel panel-default blog-post">
        <header class="panel-heading">
            <a class="label label-primary inset blog-post-type" href="{{ path('blog_view_by_category', {'url_blog': blog.urlAlias, 'category_name': p.category.nom}) }}">
                {{ p.category.nom }}
            </a>
            <i class="glyphicon glyphicon-chevron-right separator"></i>
            <h5 class="blog-post-title">
                {% if p.name|length < 60 %}
                {{ p.name }}
                {% else %}
                {{ p.name[:60] }}...
                {% endif %}
            </h5>
            <span class="pull-right">
                <span class="white">le</span> {{ p.dateCreation|date("d/m/Y") }}
                <span class="white">à</span> {{ p.dateCreation|date("H:i:s") }}
            </span>
            <br/>
        </header>
        <div class="panel-body">
            <p>
                {% if p.content|length < 350 %}
                {{ p.content }}
                {% else %}
                {{ p.content[:350] }}...
                {% endif %}
            </p>
            <a class="btn btn-primary go-to-post pull-right" href="{{ path('blog_view_post', {'url_blog': blog.urlAlias, 'category_name': p.category.nom, 'url_post': p.urlAlias }) }}">
                voir l'article <i class="glyphicon glyphicon-plus"></i>
            </a>
        </div>
    </article>

{% endfor %}
