{# src/FlorianMasip/BlogBundle/Resources/views/Blog/post.html.twig #}

{% extends '::base.html.twig' %}

{% block title %} Post {% endblock %}

{% block content %}
<div id="blog-content">
	<div id="blog-post" class="panel panel-default blog-post">
		<div class="panel-heading">
		  	<a class="label label-primary inset pull-left blog-post-type" href="{{ path('blog_view_by_category', {'url_blog': post.blog.urlAlias, 'category_name': post.category.nom}) }}">
				{{ post.category.nom }}
			</a>
		  	<i class="glyphicon glyphicon-chevron-right separator"></i>
		  	<h5 class=""> {{ post.name }} </h5>
		  	<span class="pull-right"> {{ post.dateCreation|date("m/d/Y") }} </span>
		  	<br/>
		</div>
		<div class="panel-body">
			{% if app.user.id == post.blog.user.id %}
			<div class="row">
				<a class="label label-danger pull-right" href="{{ path('blog_delete_post', {'url_blog': post.blog.urlAlias, 'url_post': post.urlAlias }) }}">
					Supprimer article
					<span class="label label-danger inset">
						<i class="glyphicon glyphicon-remove"></i>
					</span>
				</a>
				<a class="label label-warning pull-right" href="{{ path('blog_edit_post', {'url_blog': post.blog.urlAlias, 'url_post': post.urlAlias }) }}">
					Editer article
					<span class="label label-warning inset">
						<i class="glyphicon glyphicon-edit"></i>
					</span>
				</a>
			</div>
			{% endif %}
		    {{ post.content }}
		</div>
	</div><!--/panel-body-->
</div>
{% endblock %}
