<header>
	<div id="blog-panel" class="panel panel-default ">
		<div class="panel-heading">
		  	<h4> kikoo blog </h4>  	
		  	<a class="glyphicon glyphicon-home pull-right" href="{{ path('blog_homepage') }}" ></a>
		  	<button id="search-blog-button" class="btn btn-primary" onclick="removeClass('#search-results-panel','closed')"><i class="glyphicon glyphicon glyphicon-search"></i></button>
		  	<input type="text" class="form-control" id="search-blog" placeholder="chercher un blog" name="search-blog"/><br/>
		</div>

		<!--si connecté -->
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            
		<div class="panel-heading">
			<a class="label label-default glyphicon glyphicon-user pull-left border border-circle" href="{{ path('fos_user_profile_show') }}"> </a>

		  	<a class="label label-danger glyphicon glyphicon-log-out pull-right border border-circle" href="{{ path('fos_user_security_logout') }}"> </a>
			<a class="label label-default glyphicon glyphicon-cog pull-right border border-circle" href="{{ path('fos_user_profile_edit') }}"> </a><br/>
		</div>
		<div id="user_panel" class="panel-body">
			<span id="user_panel_name_label" class="label label-primary" >
				{{ app.user.username }}
			</span>
		    <img id="user-panel-pic"  src="{{ asset('resources/public/img/user.png') }}"/>    	        
		</div>

		

		<div class="panel-heading">
		  	<i class="glyphicon glyphicon-bookmark pull-left"></i>Mes blogs
		  	<br/>
		</div>
		<div class="panel-body">
		    <a id="new-blog" class="btn btn-primary wide" href="{{ path('blog_new') }}">Créer un blog</a>
		</div>
		<div id="blogs-panel" class="panel-body">

				{% for b in app.user.blogs %}
				<div class="user-blog">
					{% if blog is defined %}
						{% if b.urlAlias == blog.urlAlias %}
						<a class="label label-primary user-blog-config border border-circle" href="{{ path('blog_edit', {'url_blog': b.urlAlias }) }}">
		 					<i class="glyphicon glyphicon-cog"></i>	
						</a>
						<a class="label label-primary user-blog-link wide" href="{{ path('blog_view', {'url_blog': b.urlAlias }) }}">
		 					<i class="glyphicon glyphicon-folder-open border"></i> {{ b.Name }} 	
						</a>
						{% else %}
						<a class="label label-default user-blog-config border border-circle" href="{{ path('blog_edit', {'url_blog': b.urlAlias }) }}">
		 					<i class="glyphicon glyphicon-cog"></i>	
						</a>
						<a class="label label-default user-blog-link wide" href="{{ path('blog_view', {'url_blog': b.urlAlias }) }}">
	 					    <i class="glyphicon glyphicon-folder-close border"></i> {{ b.Name }} 	
						</a>
						{% endif %}
					{% elseif url_blog is defined %}
						{% if b.urlAlias == url_blog %}
						<a class="label label-primary user-blog-config border border-circle" href="{{ path('blog_edit', {'url_blog': b.urlAlias }) }}">
		 					<i class="glyphicon glyphicon-cog"></i>	
						</a>
						<a class="label label-primary user-blog-link wide" href="{{ path('blog_view', {'url_blog': b.urlAlias }) }}">
		 					<i class="glyphicon glyphicon-folder-open border"></i> {{ b.Name }} 	
						</a>
						{% else %}
						<a class="label label-default user-blog-config border border-circle" href="{{ path('blog_edit', {'url_blog': b.urlAlias }) }}">
		 					<i class="glyphicon glyphicon-cog"></i>	
						</a>
						<a class="label label-default user-blog-link wide" href="{{ path('blog_view', {'url_blog': b.urlAlias }) }}">
	 					    <i class="glyphicon glyphicon-folder-close border"></i> {{ b.Name }} 	
						</a>
						{% endif %}
					{% else %}
					<a class="label label-default user-blog-config border border-circle" href="{{ path('blog_edit', {'url_blog': b.urlAlias }) }}">
		 				<i class="glyphicon glyphicon-cog"></i>	
					</a>
					<a class="label label-default user-blog-link wide" href="{{ path('blog_view', {'url_blog': b.urlAlias }) }}">
 					    <i class="glyphicon glyphicon-folder-close border"></i> {{ b.Name }} 	
					</a>
					{% endif %}
					
				</div>

				{% endfor %}
				    
	
		</div>

		<!--sinon -->
		{% else %}

        <div class="panel-body">
		    <a id="log-in" class="btn btn-primary wide" href="{{ path('fos_user_security_login') }}">
		    	{{ 'layout.login'|trans({}, 'FOSUserBundle') }} <i class="glyphicon glyphicon-log-in"></i>
		    </a>
		</div>

		<div class="panel-body">
		    <a id="new-blog" class="btn btn-primary wide" href="{{ path('blog_new_user') }}">Inscription <i class="glyphicon glyphicon-book"></i></a>
		</div>
		<div class="panel-heading">
		  	<span class="label label-default pull-left" ><i class="glyphicon glyphicon-user pull-left"></i>Connexion </span>
		  	<br/>
		</div>
		<div class="panel-body">
		    <form id="connection-form" method="post" target="" >
		    	<input type="text" class="form-control" placeholder="login" id="login" name="login"/>
		    	<input type="password" class="form-control" placeholder="mot de passe" id="password" name="password"/>
		    	<button id="connection-button" class="btn btn-primary wide">valider <i class="glyphicon glyphicon-log-in"></i></button>
		    </form>
		</div>

		{% endif %}
		<!------------>
	</div><!--/panel-body-->

	<div id="search-results-panel" class="panel panel-default closed">
		<div class="panel-heading">
		  	<span class="label label-default pull-left" > Resultats </span>
		  	<i class="glyphicon glyphicon-remove pull-right" onclick="addClass('#search-results-panel','closed')"></i>
		  	<br/>
		</div>
		<div class="panel-body">
		    <ul>
		    	<li class="search-result"> 
		    		<a class="row" href="{{ path('blog_view', {'url_blog': '10' }) }}">
			    		<span class="col-sm-2 search-result-pic">
			    			<br/>
			    			<img width="40" height="40" src="{{ asset('resources/public/img/user.png') }}"/>
			    		</span>
			    		<span class="col-sm-9 search-result-preview">
			    			<span class="label label-default search-result-title" > Titre </span><br/>
			    			Aperçu description...
			    		</span>
			    		<br/>
		    		</a>
		    	</li>
		    	<li class="search-result"> 
		    		<span class="row">
			    		<span class="col-sm-2 search-result-pic">
			    			<br/>
			    			<img width="40" height="40" src="{{ asset('resources/public/img/user.png') }}"/>
			    		</span>
			    		<span class="col-sm-9 search-result-preview">
			    			<span class="label label-default search-result-title" > Titre </span><br/>
			    			Aperçu description...
			    		</span>
		    		</span>
		    	</li>
		    	<li class="search-result"> 
		    		<span class="row">
			    		<span class="col-sm-2 search-result-pic">
			    			<br/>
			    			<img width="40" height="40" src="{{ asset('resources/public/img/user.png') }}"/>
			    		</span>
			    		<span class="col-sm-9 search-result-preview">
			    			<span class="label label-default search-result-title" > Titre </span><br/>
			    			Aperçu description...
			    		</span>
		    		</span>
		    	</li>
		    	<li class="search-result"> 
		    		<span class="row">
			    		<span class="col-sm-2 search-result-pic">
			    			<br/>
			    			<img width="40" height="40" src="{{ asset('resources/public/img/user.png') }}"/>
			    		</span>
			    		<span class="col-sm-9 search-result-preview">
			    			<span class="label label-default search-result-title" > Titre </span><br/>
			    			Aperçu description...
			    		</span>
		    		</span>
		    	</li>
		    	<li class="search-result"> 
		    		<span class="row">
			    		<span class="col-sm-2 search-result-pic">
			    			<br/>
			    			<img width="40" height="40" src="{{ asset('resources/public/img/user.png') }}"/>
			    		</span>
			    		<span class="col-sm-9 search-result-preview">
			    			<span class="label label-default search-result-title" > Titre </span><br/>
			    			Aperçu description...
			    		</span>
		    		</span>
		    	</li>
		    	<li class="search-result"> 
		    		<span class="row">
			    		<span class="col-sm-2 search-result-pic">
			    			<br/>
			    			<img width="40" height="40" src="{{ asset('resources/public/img/user.png') }}"/>
			    		</span>
			    		<span class="col-sm-9 search-result-preview">
			    			<span class="label label-default search-result-title" > Titre </span><br/>
			    			Aperçu description...
			    		</span>
		    		</span>
		    	</li>
		    	<li class="search-result"> 
		    		<span class="row">
			    		<span class="col-sm-2 search-result-pic">
			    			<br/>
			    			<img width="40" height="40" src="{{ asset('resources/public/img/user.png') }}"/>
			    		</span>
			    		<span class="col-sm-9 search-result-preview">
			    			<span class="label label-default search-result-title" > Titre </span><br/>
			    			Aperçu description...
			    		</span>
		    		</span>
		    	</li>
		    	<li class="search-result"> 
		    		<span class="row">
			    		<span class="col-sm-2 search-result-pic">
			    			<br/>
			    			<img width="40" height="40" src="{{ asset('resources/public/img/user.png') }}"/>
			    		</span>
			    		<span class="col-sm-9 search-result-preview">
			    			<span class="label label-default search-result-title" > Titre </span><br/>
			    			Aperçu description...
			    		</span>
		    		</span>
		    	</li>
		    	<li class="search-result"> 
		    		<span class="row">
			    		<span class="col-sm-2 search-result-pic">
			    			<br/>
			    			<img width="40" height="40" src="{{ asset('resources/public/img/user.png') }}"/>
			    		</span>
			    		<span class="col-sm-9 search-result-preview">
			    			<span class="label label-default search-result-title" > Titre </span><br/>
			    			Aperçu description...
			    		</span>
		    		</span>
		    	</li>
		    	<li class="search-result"> 
		    		<span class="row">
			    		<span class="col-sm-2 search-result-pic">
			    			<br/>
			    			<img width="40" height="40" src="{{ asset('resources/public/img/user.png') }}"/>
			    		</span>
			    		<span class="col-sm-9 search-result-preview">
			    			<span class="label label-default search-result-title" > Titre </span><br/>
			    			Aperçu description...
			    		</span>
		    		</span>
		    	</li>
		    	<li class="search-result"> 
		    		<span class="row">
			    		<span class="col-sm-2 search-result-pic">
			    			<br/>
			    			<img width="40" height="40" src="{{ asset('resources/public/img/user.png') }}"/>
			    		</span>
			    		<span class="col-sm-9 search-result-preview">
			    			<span class="label label-default search-result-title" > Titre </span><br/>
			    			Aperçu description...
			    		</span>
		    		</span>
		    	</li>
		    </ul>       	        
		</div>
	</div><!--/panel-body-->
</header>