<nav>
	<div id="blog-panel" class="panel panel-default ">
		<div class="panel-heading">
		  	<h4> kikoo blog </h4>
		  	<a class="glyphicon glyphicon-home pull-right" href="{{ path('blog_homepage') }}" ></a>
			<form id="search-form" method="post" action="{{ path('blog_search') }}" >
				<input type="text" class="form-control" id="search" placeholder="chercher un blog" name="search" required/><br/>
				<button id="search-button" class="btn btn-primary" onclick="removeClass('#search-results-panel','closed')"> <i class="glyphicon glyphicon-search"></i></button>
			</form>
		</div>

		{# si connecté #}
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

		{% include 'BlogBundle:Default:user-panel.html.twig' %}
		{% include 'BlogBundle:Default:blogs-panel.html.twig' %}

		{# sinon #}
		{% else %}

        <div class="panel-body">
		    <a id="log-in" class="btn btn-primary btn-block" href="{{ path('fos_user_security_login') }}">
		    	{{ 'layout.login'|trans({}, 'FOSUserBundle') }} <i class="glyphicon glyphicon-log-in"></i>
		    </a>
		</div>

		<div class="panel-body">
		    <a id="new-blog" class="btn btn-primary btn-block" href="{{ path('blog_new_user') }}">Inscription <i class="glyphicon glyphicon-book"></i></a>
		</div>
		{% endif %}
		{# fin #}
	</div>
</nav>
