{# src/FlorianMasip/BlogBundle/Resources/views/Default/index.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}

<h1 class="page-title">Accueil</h1>
<div class="panel panel-default blog-post">
	Bienvenue sur kikoo blog !<br/>
	<strong>nombre de blogs crées</strong> : {{ nbBlogs }}<br/>
	<strong>nombre d'article postés</strong> : {{ nbPosts }}
</div>
<div id="last-blogs">
	<h2 class="page-title">Derniers blogs créés</h2>
	{% for b in blogs|reverse %}
	    <article class="panel panel-default blog-post">
	        <header class="panel-heading">
	            <a class="label label-primary inset blog-post-type" href="{{ path('blog_search', {'search': b.theme}) }}">
	                {{ b.theme }}
	            </a>
	            <i class="glyphicon glyphicon-chevron-right separator"></i>
	            <h5 class="blog-post-title">
	                {% if b.name|length < 60 %}
	                {{ b.name }}
	                {% else %}
	                {{ b.name[:60] }}...
	                {% endif %}
	            </h5>
	            <br/>
	        </header>
	        <div class="panel-body">
	            <p>
	                {% if b.description|length < 350 %}
	                {{ b.description }}
	                {% else %}
	                {{ b.description[:350] }}...
	                {% endif %}
	            </p>
				<a class="btn btn-primary go-to-post pull-right" href="{{ path('blog_view', {'url_blog': b.urlAlias}) }}">
	                voir le blog <i class="glyphicon glyphicon-plus"></i>
	            </a>
	        </div>
	    </article>

	{% endfor %}
</div>
<div id="last-posts">

	<h2 class="page-title">Derniers posts</h2>
	{% for p in posts %}
	<article class="panel panel-default blog-post">
		<header class="panel-heading">
			<span class="pull-right">
				<span class="white">le</span> {{ p.dateCreation|date("d/m/Y") }}
				<span class="white">à</span> {{ p.dateCreation|date("H:i:s") }}
			</span>
			<a class="label label-primary inset blog-post-type" href="{{ path('blog_view', {'url_blog': p.blog.urlAlias}) }}">
				{{ p.blog.name }}
			</a>
			<i class="glyphicon glyphicon-chevron-right separator"></i>
		  	<a class="label label-primary inset blog-post-type" href="{{ path('blog_view_by_category', {'url_blog': p.blog.urlAlias, 'category_name': p.category.nom}) }}">
				{{ p.category.nom }}
			</a>
		  	<i class="glyphicon glyphicon-chevron-right separator"></i>

		  	<h5 class="blog-post-title">{{ p.name }}</h5>
		  	<br/>
		</header>
		<div class="panel-body">
			<p>
				{% if p.content|length < 150 %}
				{{ p.content }}
				{% else %}
				{{ p.content[:150] }}...
				{% endif %}
			</p>
			<a class="btn btn-primary go-to-post pull-right" href="{{ path('blog_view_post', {'url_blog': p.blog.urlAlias, 'category_name': p.category.nom, 'url_post': p.urlAlias }) }}">
				voir l'article <i class="glyphicon glyphicon-plus"></i>
			</a>
			<span class="pull-left comment-count">
                <i class="glyphicon glyphicon-comment"></i> {{ p.comments|length }}
            </span>
		</div>
	</article>

	{% endfor %}

</div>
{% endblock %}
